
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

 

  <!-- Bootstrap core CSS -->
  <link href="https://blackrockdigital.github.io/startbootstrap-grayscale/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://blackrockdigital.github.io/startbootstrap-grayscale/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="https://blackrockdigital.github.io/startbootstrap-grayscale/css/grayscale.min.css" rel="stylesheet">

</head>

<body id="page-top">
    <router-outlet></router-outlet>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">NGEC6 - Junjun Alelin</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/about">ABOUT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/prelim">ACTIVITY 1 PRELIM</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/artwork">ARTWORK</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/activityfinals">ACTIVITY 1 FINALS</a>
            </li>
          </ul>
      </div>
    </div>
  </nav>
  <!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">SURREALISM</h1>
        
        
      </div>
    </div>
  </header>



  <!-- Projects Section -->
  <section id="activity" class="projects-section bg-light">
    <div class="container">


  
    </div>


    <div class="container text-center">
        <div class="row">
         
        
            <div class="col-md-12 ">
       
                <img src="https://junjun-c4f8c.web.app/assets/artwork.jpeg" alt="jun" style="width: 80%;">
            </div>

            
        </div>

        <div class="text-center">
            <h1 class="display-4 "> STOLEN PARA"DIES"</h1>

            <p> 
                In the illustration, we can see a picture of an eye and buildings within and our nature that is slowly dying. This drawing shows one of the common and vital problem of this world which is pollution. As years pass by, pollution got worse due to industrialization which resulted to global warming. The extreme heat of the sun that touches us, the massive wild fire in some parts of the world and the death of wild animals are the visible evidences of this problem. The drawing depicts that we, human beings are blind when it comes to our wrong doings. We still keep on doing things that slowly kill our mother earth, not realizing that we are slowly killing the place that we depend our life on.
            </p>
        </div>
    </div>
  </section>

 

  <!-- Contact Section -->
  <section class="contact-section bg-black">
    <div class="container">

      <div class="row">

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-map-marked-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Address</h4>
              <hr class="my-4">
              <div class="small text-black-50">Iloilo, Philippines</div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Email</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a href="#">nujnuj@gmail.com</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-mobile-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Phone</h4>
              <hr class="my-4">
              <div class="small text-black-50">+63 999-999-999</div>
            </div>
          </div>
        </div>
      </div>

      <div class="social d-flex justify-content-center">
      
        <a href="https://www.messenger.com/t/nujnujalelin"  target="_blank" class="mx-2">
          <i class="fab fa-facebook-f"></i>
        </a>
       
      </div>

    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-black small text-center text-white-50">
    <div class="container">
      Copyright &copy; Junjun Alelin
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/grayscale.min.js"></script>

</body>

</html>
