
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

 

  <!-- Bootstrap core CSS -->
  <link href="https://blackrockdigital.github.io/startbootstrap-grayscale/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://blackrockdigital.github.io/startbootstrap-grayscale/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="https://blackrockdigital.github.io/startbootstrap-grayscale/css/grayscale.min.css" rel="stylesheet">

</head>

<body id="page-top">
    <router-outlet></router-outlet>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">NGEC6 - Junjun Alelin</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/prelim">ACTIVITY 1 PRELIM</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">Welcome</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">A site created for Art Appreciation. </h2>
        <a href="#about" class="btn btn-primary js-scroll-trigger">Get Started</a>
      </div>
    </div>
  </header>

  <!-- About Section -->
  <section id="about" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-white mb-4">WHAT IS ART APPRECIATION?</h2>
         
              <p class="text-white-50">
                  Art appreciation refers to the acquisition of understanding and knowledge of the intrinsic and eternal qualities that distinguish art works. This invokes an interpretation of the works based on accepted compositional elements and design principles, which enhances human enjoyment.
                  For the student with little visual arts experience, this course is an exploration of visual art forms and their cultural connections. This provides a brief analysis of art history and a detailed study of the elements, media, and techniques used in creative processes and thought.

                </p>
      

      

         
        </div>
      </div>
      <img src="img/ipad.png" class="img-fluid" alt="">
    </div>
  </section>

  <!-- Projects Section -->
  <section id="projects" class="projects-section bg-light">
    <div class="container">

      <!-- Featured Project Row -->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-8 col-lg-7">
          <img class="img-fluid mb-3 mb-lg-0" src="../assets/img1.png" alt="">
        </div>
        <div class="col-xl-4 col-lg-5">
          <div class="featured-text text-center text-lg-left">
           
            <p class="text-black-50 mb-0">
                One of the leading lights of the Pre-Raphaelite movement, John Everett Millais is probably best known today for his Ophelia. At least, he was until 2012, when researchers discovered something unexpected lurking in his early painting Isabella. Featuring a bunch of characters from Boccaccio’s Decameron sitting around a table at a feast, it also includes what looks unmistakably like the shadow of an erection.
            </p>
          </div>
        </div>
      </div>

      <!-- Project One Row -->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
          <img class="img-fluid" src="https://listverse-wpengine.netdna-ssl.com/wp-content/uploads/2015/05/640px-Botticelli-primavera-632x415.jpg" alt="">
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
               
                <p class="mb-0 text-white-50">
                    One of the most famous paintings in Florence’s Uffizi Gallery (which is saying something), Botticelli’s La Primavera is also one of the most mysterious. Featuring a group of women in a heaven-like meadow, experts still argue over its allegorical meaning. But there’s one theory that stands out from all the others, in terms of evidence and strangeness—some claim it’s all about horticulture.
                    </p>
                <hr class="d-none d-lg-block mb-0 ml-0">
              </div>
            </div>
          </div>
        </div>
      </div>

       
    

      <!-- Project Two Row -->
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
          <img class="img-fluid" src="../assets/img2.png" alt="">
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
              
                <p class="mb-0 text-white-50">
                    Painted by legendary Mexican artist Frida Kahlo in 1929, El Autobus is famous for showing a cross-section of Mexican society living side by side. A housewife, blue-collar worker, Native American mother, and rich gringo businessman are all waiting for a bus, along with a girl who is probably meant to be Frida herself. If that’s the case, then the painting has a much darker subtext. All of its subjects are about to be in a horrific accident.
                </p>
                <hr class="d-none d-lg-block mb-0 mr-0">
              </div>
            </div>
          </div>
        </div>
      </div>


        <!-- Project One Row -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
            <div class="col-lg-6">
              <img class="img-fluid" src="../assets/img3.png" alt="">
            </div>
            <div class="col-lg-6">
              <div class="bg-black text-center h-100 project">
                <div class="d-flex h-100">
                  <div class="project-text w-100 my-auto text-center text-lg-left">
                   
                    <p class="mb-0 text-white-50">
                        A mid-20th-century painter known for depicting northwest England, L.S. Lowry was famous for painting vast urban scenes with crowds of “matchstick men.” Although he was popular, the art world dismissed his paintings as trivial for a long time. They couldn’t have been more wrong. Like a sadistic Where’s Waldo, Lowry’s paintings are filled with hidden flashes of human suffering.
                        </p>
                    <hr class="d-none d-lg-block mb-0 ml-0">
                  </div>
                </div>
              </div>
            </div>
          </div>

    </div>
  </section>

 

  <!-- Contact Section -->
  <section class="contact-section bg-black">
    <div class="container">

      <div class="row">

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-map-marked-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Address</h4>
              <hr class="my-4">
              <div class="small text-black-50">Iloilo, Philippines</div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Email</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a href="#">nujnuj@gmail.com</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-mobile-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Phone</h4>
              <hr class="my-4">
              <div class="small text-black-50">+63 999-999-999</div>
            </div>
          </div>
        </div>
      </div>

      <div class="social d-flex justify-content-center">
      
        <a href="https://www.messenger.com/t/nujnujalelin"  target="_blank" class="mx-2">
          <i class="fab fa-facebook-f"></i>
        </a>
       
      </div>

    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-black small text-center text-white-50">
    <div class="container">
      Copyright &copy; Junjun Alelin
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/grayscale.min.js"></script>

</body>

</html>
